.ChatMain
  .ChatMain__GroupInfo
    .ChatMain__GroupList
      .ChatMain__GroupName
        = @group.name
      %ul.ChatMain__MemberList
        Member :
        %li.ChatMain__MemberName
          - @group.users.each do|user|
            = user.name
    = link_to edit_group_path(@group),class: "ChatMain__Edit" do
      Edit
  .ChatMain__MessageList
    = render @messages
  .ChatMain__MessageForm
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__Contents
        = f.text_field :content, class: 'Form__InputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__InputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__Submit'