.SideBar
  .SideBar__UserName
    .TopItems
      %p.TopItems__Name
        = current_user.name
      %ul.TopItems__IconList
        %li.TopItems__Icons
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.TopItems__Icons
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .SideBar__GroupList
    - current_user.groups.each do |group|
      .GroupItems
        = link_to group_messages_path(group) do
          .GroupItems__Name
            = group.name
          .GroupItems__Messages
            = group.show_last_message